@import 'https://fonts.googleapis.com/css?family=Lato';
html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-family: 'Lato', sans-serif;
  background-color: #1e202f; }

main {
  height: 100vh; }

.wiki-page {
  margin-bottom: 15px; }
  .wiki-page .toolbar {
    text-align: right; }
    .wiki-page .toolbar button {
      margin-left: 15px; }

.wiki-page-edit .page-content {
  border: none;
  padding: 0px; }

.form-group label {
  text-transform: uppercase;
  color: #333;
  font-size: 16px; }

.form-group .form-control {
  width: 100%; }

.btn-primary {
  background-color: #978de3;
  border: solid 1px #ccc; }

.btn-primary:hover {
  background-color: #1e202f; }

.main-content,
.side-content {
  float: left;
  box-sizing: border-box;
  padding: 15px; }

.side-content {
  width: 20%;
  color: #978de3; }
  .side-content a,
  .side-content .btn-link {
    font-weight: bold;
    color: white; }
  .side-content .edit-link {
    text-decoration: underline;
    text-decoration-style: dashed; }

.main-content {
  width: 80%;
  background-color: #fff; }

.page-content {
  padding: 15px;
  border: solid 1px #ccc;
  border-radius: 15px; }
  .page-content textarea {
    height: 500px;
    width: 800px; }

ul {
  list-style: none; }

.throbber .dot {
  margin: 10px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #999;
  float: left;
  transform: scale(0.7); }

.navigation {
  background-color: #0f0f17;
  color: #978de3;
  position: relative; }
  .navigation .logo {
    position: absolute;
    bottom: 300px;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: bottom right; }
    .navigation .logo h1 {
      color: #555;
      text-transform: uppercase; }
  .navigation .tab {
    padding: 20px; }
    .navigation .tab a {
      color: #978de3; }
