html, body, ul{
  padding: 0;
  margin: 0;
}

body {
  color: #222;
  font-family: 'Lato', sans-serif;
  background-color: #1e202f;
}

main {
  height: 100vh;
}

.wiki-page {
  margin-bottom: 15px;

  .toolbar {
    text-align: right;
    button {
      margin-left: 15px;
    }
  }
}

.wiki-page-edit {
  .page-content {
    border: none;
    padding: 0px;
  }
}

.form-group {
  label {
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
  }

  .form-control {
    width: 100%;
  }
}

.btn-primary {
  background-color: #978de3;
  border: solid 1px #1e202f;
}

.btn-primary:hover {
  background-color: #1e202f;
}

.main-content,
.side-content {
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

.side-content {
  width: 20%;
  color: #978de3;

  a,
  .btn-link {
    font-weight: bold;
    color: white;
  }
}

.main-content {
  width: 80%;
  background-color: #fff;
}


.page-content {
  padding: 15px;
  border: solid 1px #ccc;
  border-radius: 15px;

  textarea {
    height: 500px;
    width: 800px;
  }
}